[submodule "libraries/UnityMainThreadDispatcher"]
	path = libraries/UnityMainThreadDispatcher
	url = https://github.com/PimDeWitte/UnityMainThreadDispatcher
[submodule "libraries/KerbalSimpitRevamped-Arduino"]
	path = libraries/KerbalSimpitRevamped-Arduino
	url = https://github.com/rettoph/KerbalSimpitRevamped-Arduino
